<!--Vista de la tabla con los post-->
<div class="container-all">
  <div fxLayout="row " fxLayoutAlign="center">

    <div fxFlex="70" style="margin-top: 3rem;" >
      <h2 class="text-center">
        All Post
      </h2>
      <table mat-table matSort [dataSource]="dataSource">
        <!-- Weight Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-l-th text-center header-center"> ID </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{element.id}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Post </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-l-th text-center header-center"> Actions </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <a mat-icon-button [routerLink]="['/post', element.id]">
              <mat-icon>visibility</mat-icon>
            </a>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>
